.error
  .error__circle !
  .error__text.error__text--lg oops! Payment failed
  .error__text.error__text--sm please choose another payment method to complete payment process
  a(href="#").error__btn Choose Payment
