<!DOCTYPE html>
<html lang="en" >

<head>
	{%load staticfiles%}
  <meta charset="UTF-8">
  <title>Paymenterror</title>
  
  
  
      <link rel="stylesheet" href="{% static 'pay/css/style3.css' %}">

  
</head>

<body>

  
<div class="error">
  <div class="error__circle">!</div>
  <div class="error__text error__text--lg">oops! Payment failed</div>
  <div class="error__text error__text--sm">please choose another payment method to complete payment process</div><a class="error__btn" href="{% url 'pay:profile' %}">Move to HomePage</a>
</div>
  
  

</body>

</html>